html {
    background-color: #1f2424 !important;
    min-height: 100vh;
}

#button-reverse {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0.75rem 0;
}

#search label {
    margin-bottom: 0.25em;
}

#search .field,
#search .select,
#search select {
    width: 100%;
}

#search .select:not(.is-multiple) {
    height: 2.5em !important;
}

#search select {
    height: 40px !important;
}

.table {
    border-collapse: unset !important;
}
.table td.is-selected,
.table th.is-selected,
.table tr.is-selected {
    background-color: #375a7f !important;
}

.table img {
    max-width: 75px;
    min-height: 45px;
}

.table a {
    color: #1abc9c !important;
}
.table a:hover {
    color: #1dd2af !important;
}

.table .last-hidden:last-child {
    display: none;
}

.credit {
    position: absolute;
}
