<!DOCTYPE html>

<html lang="en">

<head>
    <meta
        http-equiv="content-type"
        content="text/html; charset=UTF-8"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <link
        rel="stylesheet"
        type="text/css"
        href="style/index.css"
    >
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    >
    <link
        rel="stylesheet"
        href="https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css"
    >
    <script
        defer
        src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
        integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
        crossorigin="anonymous"
    ></script>
    <link
        rel="icon"
        href="img/favicon.png"
    >
    <title>Discogs - Compare Two Collection</title>
</head>

<form method="POST">
    <div class="container">
        <br />
        <h1 class="title">Discogs - Compare Two Collection <i class="fas fa-compact-disc"></i></h1>
        {{#error}}
        <div class="notification is-danger">
            {{error}}
        </div>
        {{/error}}
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label
                        class="label"
                        for="userone"
                    >
                        User One
                    </label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="User One"
                            name="userone"
                            required
                            id="userone"
                            value="{{value.userone}}"
                        />
                    </div>
                </div>
            </div>
            <div class="button-reverse">
                <button
                    type="button"
                    class="button is-link"
                    onclick="reverse();"
                >
                    <span class="icon is-small">
                        <i class="fas fa-sync-alt"></i>
                    </span>
                </button>
            </div>
            <div class="column">
                <div class="field">
                    <label
                        class="label"
                        for="usertwo"
                    >
                        User Two
                    </label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="User One"
                            name="usertwo"
                            required
                            id="usertwo"
                            value="{{value.usertwo}}"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <div class="field">
                    <label
                        class="label"
                        for="band"
                    >
                        Filter on band's name
                    </label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Band's name"
                            id="band"
                            name="band"
                            value="{{value.band}}"
                        />
                    </div>
                </div>
            </div>
            <div class="column search">
                <label
                    class="label"
                    for="select-search"
                >
                    Search on
                </label>
                <div class="field">
                    <div class="control">
                        <div class="select is-primary">
                            <select
                                name="search"
                                id="select-search"
                            >
                                <option
                                    value="COLLECTION"
                                    {{#value.isCollection}}selected{{/value.isCollection}}
                                >
                                    Collection
                                </option>
                                <option
                                    value="WANTLIST"
                                    {{#value.isWantlist}}selected{{/value.isWantlist}}
                                >
                                    Wantlist
                                </option>
                                <option
                                    value="COLLECTIONVSWANTLIST"
                                    {{#value.isCollectionVsWantlist}}selected{{/value.isCollectionVsWantlist}}
                                >
                                    Collection vs Wantlist
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button
            type="submit"
            class="button is-link"
        >
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Check</span>
        </button>
        <br /><br />
        {{#items.length}}
        <h2 class="subtitle">
            User two's list of objects is displayed here. The lines in blue correspond to the objects in common between
            the two users.
        </h2>
        <div class="table-container">
            <table class="table is-bordered is-narrow is-fullwidth">
                <thead>
                    <tr>
                        <th>Img</th>
                        <th>Infos</th>
                        <th>Format</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    {{#items}}
                    <tr class="{{#isCommon}}is-selected{{/isCommon}}">
                        <td>
                            <img
                                src="{{basic_information.thumb}}"
                                loading="lazy"
                            >
                        </td>
                        <td>
                            {{#basic_information.artists}}
                            <a
                                href="https://www.discogs.com/en/artist/{{id}}"
                                target="_blank"
                            >{{name}}</a> -
                            {{/basic_information.artists}}
                            <a
                                href="https://www.discogs.com/en/release/{{id}}"
                                target="_blank"
                            >{{basic_information.title}}</a>
                            (
                            {{#basic_information.labels}}
                            {{#name}}
                            {{.}} -
                            {{/name}}
                            {{/basic_information.labels}}

                            {{#basic_information.labels}}
                            {{#catno}}
                            {{.}} <span class="last-hidden">-</span>
                            {{/catno}}
                            {{/basic_information.labels}}
                            )
                        </td>
                        <td>
                            {{#basic_information.formats}}
                            {{#text}}
                            {{.}} -
                            {{/text}}
                            {{#name}}
                            {{.}}
                            {{^description.length}}
                            <span class="last-hidden">-</span>
                            {{/description.length}}
                            {{/name}}
                            {{#descriptions.length}}
                            {{#descriptions}}
                            {{.}} <span class="last-hidden">-</span>
                            {{/descriptions}}
                            {{/descriptions.length}}
                            {{/basic_information.formats}}
                        </td>
                        <td>{{basic_information.year}}</td>
                    </tr>
                    {{/items}}
                </tbody>
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            {{#value.isCollection}}
                            <a
                                href="https://www.discogs.com/user/{{value.userone}}/collection"
                                target="_blank"
                            >{{value.userone}}</a>
                            {{/value.isCollection}}
                            {{#value.isWantlist}}
                            <a
                                href="https://www.discogs.com/wantlist?user={{value.userone}}"
                                target="_blank"
                            >{{value.userone}}</a>
                            {{/value.isWantlist}}
                            {{#value.isCollectionVsWantlist}}
                            <a
                                href="https://www.discogs.com/user/{{value.userone}}/collection"
                                target="_blank"
                            >{{value.userone}}</a>
                            {{/value.isCollectionVsWantlist}}
                            : {{total.userone}}<br />

                            {{#value.isCollection}}
                            <a
                                href="https://www.discogs.com/user/{{value.usertwo}}/collection"
                                target="_blank"
                            >{{value.usertwo}}</a>
                            {{/value.isCollection}}
                            {{#value.isWantlist}}
                            <a
                                href="https://www.discogs.com/wantlist?user={{value.usertwo}}"
                                target="_blank"
                            >{{value.usertwo}}</a>
                            {{/value.isWantlist}}
                            {{#value.isCollectionVsWantlist}}
                            <a
                                href="https://www.discogs.com/wantlist?user={{value.usertwo}}"
                                target="_blank"
                            >{{value.usertwo}}</a>
                            {{/value.isCollectionVsWantlist}}
                            : {{total.usertwo}}<br />

                            {{#value.isCollection}}
                            <a
                                href="https://www.discogs.com/user/{{value.userone}}/collection"
                                target="_blank"
                            >{{value.userone}}</a>
                            {{/value.isCollection}}
                            {{#value.isWantlist}}
                            <a
                                href="https://www.discogs.com/wantlist?user={{value.userone}}"
                                target="_blank"
                            >{{value.userone}}</a>
                            {{/value.isWantlist}}
                            {{#value.isCollectionVsWantlist}}
                            <a
                                href="https://www.discogs.com/user/{{value.userone}}/collection"
                                target="_blank"
                            >{{value.userone}}</a>
                            {{/value.isCollectionVsWantlist}}
                            owns {{total.common}} of
                            {{#value.isCollection}}
                            <a
                                href="https://www.discogs.com/user/{{value.usertwo}}/collection"
                                target="_blank"
                            >{{value.usertwo}}</a>
                            {{/value.isCollection}}
                            {{#value.isWantlist}}
                            <a
                                href="https://www.discogs.com/wantlist?user={{value.usertwo}}"
                                target="_blank"
                            >{{value.usertwo}}</a>
                            {{/value.isWantlist}}
                            {{#value.isCollectionVsWantlist}}
                            <a
                                href="https://www.discogs.com/wantlist?user={{value.usertwo}}"
                                target="_blank"
                            >{{value.usertwo}}</a>
                            {{/value.isCollectionVsWantlist}}
                            's albums ({{total.percent}} %).
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        {{/items.length}}
        <p class="credit">
            By <a
                href="https://kiriancaumes.fr"
                target="_blank"
            >
                Kirian CAUMES</a> - <a
                href="https://github.com/KirianCaumes/DiscogsCompareTwoCollection"
                target="_blank"
            >
                Github
            </a>
        </p>
        <br />
        <br />
    </div>
</form>

<script>
    function reverse() {
        let temp = document.querySelector('#usertwo').value
        document.querySelector('#usertwo').value = document.querySelector('#userone').value
        document.querySelector('#userone').value = temp
    }
</script>

</html>